# zsh shpec build draft
language: zsh

# based from https://github.com/mafredri/zsh-async
addons:
  apt:
    packages:
      - build-essential
      - tree
      - yodl
      - zsh

env:
  matrix:
    - ZVM_VERSION=5.4.2
    - ZVM_VERSION=5.3.1
    - ZVM_VERSION=5.3
    - ZVM_VERSION=5.2
    - ZVM_VERSION=5.1.1
    - ZVM_VERSION=5.0.8
    - ZVM_VERSION=5.0.2

cache:
  directories:
    - $HOME/.zvm

before_install:
  - curl -L https://zulu.sh/install | zsh
  - export SHELL=zsh
  - zsh -c "source ~/.zshrc; zulu install zvm && zvm use $ZVM_VERSION"

install:
  # install antigen
  - curl -L git.io/antigen  > ~/antigen.zsh
  - cat .travis-zshrc > ~/.zshrc ; cat ~/.zshrc
  - echo "setopt sh_word_split" >> ~/.zshenv
  - which zsh
  - export ZSH=$HOME/.zvm/bin/zsh
  #- $ZSH ~/.zshrc

script:
  - $ZSH --version
  - $ZSH .travis-run.zsh

notifications:
  email: false
